body{
	background:#c0c0c0; /* Меняется фон экрана, выбирается здесь */
}

#wrapper{ /* Оболочка страницы сайта */
	width:900px; /* Меняется ширина страницы */
	margin: 0 auto;
	background:#f2e8c9; /* Меняется задний фон страницы */
}

/* Шапка сайта */

#header{
	position:relative; /* Задаём блоку относительное позиционирование для того, чтобы затем размещать, в нём другие элементы и позиционировать относительно его границ поверх фоновой картинки и заголовка */
	height: 250px; /* Высота шапки */
	background-color: white;/* Фон шапки */
	margin-bottom: 5px; /* Нижний отступ шапки от остального контента */
	border-radius: 5px; /* Закругляются углы блока */
	box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Тень. Визуально приподнимает блок над оболочкой */
}
.justify {
	display: flex;
	justify-content: space-between;
	padding: 0 40px 0 40px;
	
}
  
h1{ /* Заголовок сайта */
	margin:0 0 10px 40px; /* Заголовок двигается верх-вправо-вниз-влево. */
	color:#464451; /* Цвет заголовка */
}
.nomer{ /*Подзаголовок (номер телефона)*/
	position:absolute; /* Позиционируем абсолютно подзаголовок, относительно границ блока header. Также можно разместить в шапке сайта ещё другие картинки и абзацы поверх фоновой картинки и заголовка */
	top:-20px; /* Двигается вверх-вниз */
	left:650px; /* Двигается вправо-влево */
	font-size: 25px; /* Размер букв подзаголовка */
	font-style:italic; /* Курсив */
	font-weight:bold; /* Жирный */
	color:#464451; /* Цвет букв подзаголовка */
}

/* Сайдбар (колонка справа) */

#sidebar{ /* Блок сайдбара */
	background-color: #1cd3a2;   /* Фон блока */
	width: 180px; /* Ширина блока */
	
	padding: 10px; /* Отступ текста от краёв */
	float: right; /* Размещаем блок справа от других элементов, наплывание или обтекание справа). Если делать сайдбар слева, то значение right меняем на left */
	border-radius: 10px; /* Закругляем углы блока */
	box-shadow: rgba(0,0,0,0.5) 0px 1px 3px; /* Задаём блоку тень */
}
.marcer{ /* Галочки маркеры меню */
	float: left; /* Размещаем слева от текста */
	margin: 5px 0 5px 0; /* Двигаются вверх-вправо-вниз-влево */
}

/* Контент (статья) */

#content{ /* Блок контента */
	margin-bottom: 5px; /* Отступ блока статьи от блока подвала */
	width: 680px; /* Ширина статьи */
	padding: 10px; /* Отступ текста от краёв блока */
	background-image: url(./buldoz.jpg);/* Фон статьи */
	background-position:center;
	background-size: cover;
	font-variant:small-caps;
	background-repeat:no-repeat;
	border-radius:5px;
	background-color:#000;
	box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
	
}
#content p{
	color: #fff;
	font-family: system-ui;
	background-color: rgba(0, 0, 0, 0.5);
	text-shadow: 2px 2px 5px red;
}
.left{ /* Картинка в тексте слева */
	float: left;
	margin: 30px 7px 7px 7px;
}
.right{ /* Картинка в тексте справа */
	float: right;
	margin: 7px 0 7px 7px;
}
/* Подвал */

#footer{ /* Блок подвала */
	height:100px; /* Высота блока подвала */
	background-color: teal;/* Фон блока подвала */
	margin-bottom: 10px; /* Отступ снизу */
	border-radius: 10px; /* Закруглённые углы */
	text-align:center;
	font-variant:small-caps;
	
	box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;/* Тень блока */
	
}
.clear { /* Запрет наплывания. Устанавливается для того, чтобы блок контента, при заполнении текстом и изображениями не наплывал на подвал */
	clear: both;
}
.fon { /* Номер телефона */
	float:left; /* Разрешаем другим элементам обтекать абзац справа */
	text-align:50px;
	margin: 20px 0 0 60px;
}

.fax { /* Номер факса */
	float:left;
	margin: 20px 0 0 60px;
	color:#E0FFFF;
}
.mail { /* Адрес E-mail */
	float:left;
	margin:20px 0 0 60px;
}	

.what {
	float:left;
	text-align:50px;
	width:20px;
	padding-right:10px;
}